* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 15px;
}
header {
    display: flex;
    
    background: #000;
    color: #fff;
    position: fixed; 
   width: 100%;
   justify-content: space-between;
position: sticky;
  top: 0;
}
.fa-search {
    position: relative;
    top: 14px;
    right: 0;
 }
 .logo {
     background: #009688;
 }